# Ignore build and devel folders on worskpace
# They are binaries built from src via catkin_make

autoboat_ws/build/
autoboat_ws/devel/
autoboat_ws/install/

# Arquivos gerados pelo QtCreator

telemetria/CMakeLists.txt.user
autoboat_ws/src/interface/CMakeLists.txt.user
autoboat_ws/src/autoboat_joystick/CMakeLists.txt.user

