# Ignore build and devel folders on worskpace
# They are binaries built from src via catkin_make

autoboat_ws/build/
autoboat_ws/devel/
autoboat_ws/install/

# Arquivos gerados pelo QtCreator
autoboat_ws/src/*/CMakeLists.txt.user
